* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #f7c978;
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60rem;
  position: relative;
}

.App__description {
  background-color: #3f51b1;
  padding: 2.5rem;

  h1 {
    margin: 0 0 1.25rem 0;
  }

  a {
    color: #f7c978;
    text-decoration: none;
  }

  &__text {
    max-width: 42rem;
    margin: 0 auto;
  }
}