@import "../styles/colors";

* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: $yellow;
  color: $white;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60rem;
  position: relative;
}

.App__description {
  background-color: $purple;
  padding: 2.5rem 1.25rem;

  h1 {
    margin: 0 0 1.25rem 0;
  }

  a {
    color: $yellow;
    text-decoration: none;
  }

  &__text {
    max-width: 42rem;
    margin: 0 auto;
  }
}