.Foreground {
  bottom: 0;
  max-height: 30vh;
  position: absolute;
  transform: translateY(60%); // Initial position
  width: 100%;
  z-index: 99;

  svg {
    fill: #3f51b1;
    height: 100%;
    width: 100%;
  }
}

.Background {
  bottom: 0;
  max-height: 35vh;
  position: absolute;
  transform: translateY(30%); // Initial position
  width: 100%;
  z-index: 9;

  svg {
    fill: lighten(#3f51b1, 10%);
    height: 100%;
    width: 100%;
  }
}