.Foreground {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 99;
  transform: translateY(60%); // Initial position

  svg {
    fill: #3f51b1;
    height: 100%;
    width: 100%;
  }
}

.Background {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
  transform: translateY(30%); // Initial position

  svg {
    fill: lighten(#3f51b1, 20%);
    height: 100%;
    width: 100%;
  }
}