.Sun {
  background-color: #f2f2f2;
  border-radius: 50%;
  box-shadow: 2px 0px 10rem 5rem rgba(255, 255, 255, 0.4);
  left: 50%;
  margin-left: -2.5rem;
  position: absolute;
  opacity: 1;
  height: 5rem;
  top: 45vh;
  width: 5rem;
  z-index: 9;
}